:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* links */

a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.5s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* badges */

.badge {
  border-radius: 20px;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
}

.badge-small {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.badge--primary {
  background: var(--color-primary);
}

.badge--secondary {
  background: var(--color-secondary);
}

/* Lists */

.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
}

.list--tick .list__item {
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* icons */

.icon {
  width: 40px;
  height: 40px;
}

/* use fill property for svg image */
.icon--primary {
  fill: var(--color-primary);
}

.icon-container {
  align-items: center;
  background-color: #f3f9fa;
  border-radius: 100%;
  display: inline-flex;
  height: 80px;
  justify-content: center;
  width: 80px;
}

@media screen and (min-width: 1024px) {
  .icon-container {
    width: 60px;
    height: 60px;
  }

  .icon {
    width: 30px;
    height: 30px;
  }
}

/* Buttons */

.btn {
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  padding: 2rem 3rem;
  text-align: center;
  text-transform: uppercase;
}

.btn--primary {
  color: #fff;
  background-color: var(--color-primary);
}

.btn--primary:hover {
  background-color: #1b0760;
}

.btn--accent {
  background-color: var(--color-accent);
  color: #fff;
}

.btn--accent:hover {
  background-color: #ff7033;
}

.btn--secondary {
  background-color: var(--color-secondary);
  color: #fff;
}

.btn--secondary:hover {
  background-color: #5589f0;
}

.btn--block {
  display: inline-block;
  width: 100%;
}

.btn-outline {
  background-color: #fff;
  border: 1px solid var(--color-headings);
  color: var(--color-headings);
}

.btn-outline:hover {
  background-color: var(--color-headings);
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.4rem;
  }
}

/* Inputs */

.input {
  border: 1px solid #ccc;
  font-size: 2rem;
  padding: 1.5rem 3.5rem;
  border-radius: 30px;
  outline: 0;
  color: var(--color-headings);
}

::placeholder {
  color: #cdcbd7;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}
