<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo nam culpa
    facilis nesciunt! Veniam nulla incidunt, officiis nisi assumenda ducimus,
    quidem omnis harum at deserunt tenetur nihil, minus voluptate repellat.
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h2 class="media__title quote__author">John Karta</h2>
        <p class="quote__company">Google Company</p>
      </div>
    </div>
  </footer>
</blockquote>
